* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.form {

   &__content {
   }

   &__text {
   }

   &__title {
   }

   &__ul {
   }

   &__box {
   }

   &__item {
   }

   &__a {
   }

   &__button {
   }

   &__logo {
   }
}
.container {
}
.nav {

   &__input {
   }

   &__list {
   }

   &__li {
   }
}
